.container {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1000px;
}

.container__heading {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-size: 24px;
    color: #82756a;
}

.container__content {
    width: 100%;
    padding: 20px 0;
}

.form__group {
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

.form__group-title {
    width: 35%;
    color: #82756a;
    font-size: 18px;
}

.form__group-content {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.form__input--text {
    width: 100%;
}

.form__input--text input,
.form__input--text select,
.form__input--text textarea {
    width: 100%;
    padding: 10px 20px;
    color: #82756a;
    background-color: #f4f4f4;
    border: none;
}

.form__input--radio {
    display: flex;
    align-items: center;
}

.form__input--radio input {
    appearance: none;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    border: solid 1px #82756a;
    border-radius: 50%;
}

.form__input--radio input:checked {
    background-color: #82756a;
}

.form__input--radio label {
    margin-right: 60px;
    color: #82756a;
}

.input-name {
    width: 45%;
}

.input-tell {
    width: 30%;
}

.input-tell input {
    text-align: center;
}

.input-category {
    width: 50%;
    position: relative;
}

.input-category::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    border-top: 12px solid #beb1a6;
    border-bottom: 0;
    transform: translateY(-50%);
    pointer-events: none;
}

.input-category select {
    appearance: none;
}

.form__button {
    padding: 20px 0;
    text-align: center;
}

.form__button-submit {
    padding: 10px 40px;
    color: white;
    background-color: #82756a;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.form__error {
    color: red;
    font-size: 14px;
    font-weight: bold;
}